@charset "UTF-8";
/* общие настройки */
* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Bebas-Neue";
  color: #000711;
  background-color: #f4f2ee;
}

.container {
  max-width: 1335px;
  margin: 0 auto;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  border: 0;
}

picture {
  display: inline-block;
}

.slick-prev,
.slick-next {
  position: absolute;
  z-index: 3;
  top: 25px;
  color: transparent;
  background-color: transparent;
  height: 25px;
  width: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slick-prev::before,
.slick-next::before {
  content: url(../img/icon/slider_arrow-active.png);
  position: absolute;
  bottom: 0px;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
  content: url(../img/icon/slider_arrow.png);
}

.slick-prev {
  left: 5px;
}

.slick-prev::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-prev.slick-disabled:before {
  -webkit-transform: rotate(0) !important;
          transform: rotate(0) !important;
  bottom: -3px;
}

.slick-next {
  right: 5px;
}

.slick-next::before {
  bottom: -1px;
}

.slick-next.slick-disabled:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 1px;
}

.btn .pink__btn,
.btn .blue__btn {
  display: inline-block;
  position: relative;
  -webkit-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.4);
  width: 262px;
  height: 56px;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  color: white;
  border-radius: 50px;
  padding: 15px 0;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9ec8), color-stop(50%, #e95c99), to(#ff9ec8));
  background-image: linear-gradient(90deg, #ff9ec8 0%, #e95c99 50%, #ff9ec8 100%);
}

.btn .pink__btn::before,
.btn .blue__btn::before {
  content: "";
  background-image: url(../img/btn_pseudo-2.png), url(../img/btn_pseudo-1.png), url(../img/btn_pseudo-3.png);
  background-position: 36px -4px, center top 21px, center -6px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
}

.btn .pink__btn:after,
.btn .blue__btn:after {
  border-radius: inherit;
  background-image: linear-gradient(160deg, #44cbd4, #2881ef);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-image: -webkit-gradient(linear, left top, right top, from(#e95c99), color-stop(50%, #ff9ec8), to(#e95c99));
  background-image: linear-gradient(90deg, #e95c99 0%, #ff9ec8 50%, #e95c99 100%);
}

.btn .pink__btn:hover:after,
.btn .blue__btn:hover:after {
  opacity: 1;
}

.btn .blue__btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#83dbff), color-stop(50%, #00b7f4), to(#83dbff));
  background-image: linear-gradient(90deg, #83dbff 0%, #00b7f4 50%, #83dbff 100%);
}

.btn .blue__btn::after {
  background-image: -webkit-gradient(linear, left top, right top, from(#00b7f4), color-stop(50%, #83dbff), to(#00b7f4));
  background-image: linear-gradient(90deg, #00b7f4 0%, #83dbff 50%, #00b7f4 100%);
}

.wpcf7-form-control-wrap {
  width: 100%;
  max-width: 260px;
  text-align: center;
  margin: 0 auto;
}

.wpcf7-not-valid-tip {
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
}

.wpcf7 form .wpcf7-response-output {
  margin: 0 auto;
}

.wpcf7 form.invalid .wpcf7-response-output {
  display: none !important;
}

#secondary {
  display: none;
}

@font-face {
  font-family: "Bebas-Neue";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/bebas/Bebas-Neue.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  src: url("../fonts/gilroy/Gilroy-Regular.woff") format("woff");
  src: url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  src: url("../fonts/gilroy/Gilroy-Medium.woff") format("woff");
  src: url("../fonts/gilroy/Gilroy-Medium.woff2") format("woff2");
}

#header {
  background-image: url(../img/bg-header.png);
  background-repeat: repeat-x;
  background-position: center top;
  padding: 30px 0 85px;
  margin-bottom: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: -20px;
  z-index: 4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  max-width: 180px;
  height: 100%;
  -webkit-transform: translate(-10px, -8px);
          transform: translate(-10px, -8px);
}

.logo img {
  -o-object-fit: cover;
     object-fit: cover;
}

nav.menu {
  max-width: 650px;
  width: 100%;
}

nav.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.menu li a {
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav.menu li a::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #00060f;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav.menu li a:hover::after {
  visibility: visible;
  opacity: 1;
}

nav.menu li a.active {
  color: #f879b0;
}

nav.menu li a.active::after {
  visibility: visible;
  opacity: 1;
  background-color: #f879b0;
}

.contacts {
  text-align: right;
}

.contacts a {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-size: 18px;
  color: #f879b0;
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
}

.contacts a::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #f879b0;
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contacts a:first-child {
  color: inherit;
  font-size: 24px;
  font-family: "Gilroy-Medium";
}

.contacts a:first-child::after {
  background-color: #00060f;
}

.contacts a:hover::after {
  opacity: 1;
  visibility: visible;
}

#first__screen .container {
  position: relative;
}

#first__screen .container .btn {
  position: absolute;
  top: 74%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.heading {
  text-align: center;
  width: 100%;
  max-width: 855px;
  margin: 0 auto;
}

.heading h1 {
  font-size: 72px;
  line-height: 1.2;
  font-weight: normal;
  margin-bottom: 55px;
}

.heading h1 span {
  color: #00b8f5;
}

.heading h2 {
  font-size: 72px;
  line-height: 1;
  font-weight: normal;
}

.heading .heading__description {
  color: #00b8f5;
  font-size: 30px;
}

.first__screen-slider {
  width: 100%;
  max-width: 855px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom 60%;
  padding: 0 0 340px;
}

.first__screen-slider .slider__item {
  width: 100%;
  max-width: 165px;
  text-align: center;
}

.first__screen-slider .slider__item .slider__img {
  width: 100%;
  margin-bottom: 17px;
}

.first__screen-slider .slider__item .slider__img img {
  width: 42px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.first__screen-slider .slider__item .slider__description {
  text-align: center;
}

.first__screen-slider .slider__item .slider__description span {
  font-family: "Gilroy-Regular";
  font-size: 18px;
  color: #00b8f5;
}

#about {
  background-image: url(../img/bg__about.png);
  background-repeat: repeat-x;
  background-position: center top;
  padding-bottom: 25px;
}

#about .heading {
  padding-top: 100px;
  margin-bottom: 20px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content .about__content-description {
  width: 100%;
  max-width: 745px;
}

.about__content .about__content-description p {
  line-height: 1.2;
  font-family: "Gilroy-Regular";
  margin-bottom: 20px;
}

#price {
  padding-top: 85px;
}

#price .heading {
  margin-bottom: 85px;
}

.price__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__content-items .item {
  width: 100%;
  max-width: 33.333%;
  background-repeat: no-repeat;
  background-position: center 0;
}

.price__content-items .item .item__img {
  width: 100%;
  max-width: 225px;
  height: 180px;
  display: block;
  margin: 0 auto 50px;
}

.price__content-items .item .item__img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.price__content-items .item .item__description {
  min-height: 337px;
  padding: 47px 0 45px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.price__content-items .item .item__description .head {
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 30px;
}

.price__content-items .item .item__description .text {
  font-family: 16px;
  font-family: "Gilroy-Regular";
  line-height: 1.2;
  width: 100%;
  max-width: 265px;
  display: inline-block;
}

.price__content-items .item .item__description .item__price {
  position: absolute;
  bottom: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.price__content-items .item .item__description .btn {
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 115px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.price__content-items .item.left .item__description {
  background-image: url(../img/cow-bg1.png);
}

.price__content-items .item.center .item__description {
  background-image: url(../img/cow-bg2.png);
}

.price__content-items .item.right .item__description {
  background-image: url(../img/cow-bg3.png);
}

.price__content-items .item:hover .item__description {
  background-image: url(../img/cow-bg-active.png);
}

.price__content-items .item:hover:hover .item__price {
  color: #f689b5;
}

.price__content-items .item:hover .btn {
  visibility: visible;
  opacity: 1;
}

#portfolio {
  padding-top: 90px;
}

#portfolio .heading {
  margin-bottom: 100px;
}

.portfolio__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__content-items .item {
  position: relative;
  margin-bottom: 65px;
}

.portfolio__content-items .item .item__img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.portfolio__content-items .item .item__img img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__content-items .item .item__img::after {
  position: absolute;
  content: "";
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 2px solid white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio__content-items .item .item__img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio__content-items .item .item__descripton {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 245px;
  text-align: center;
}

.portfolio__content-items .item .item__descripton span {
  font-size: 24px;
  color: white;
}

.portfolio__content-items .item.big {
  width: 30%;
  height: 400px;
}

.portfolio__content-items .item.small {
  height: 263px;
}

.portfolio__content-items .item:hover .item__img::before {
  opacity: 0;
  visibility: hidden;
}

.portfolio__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;
}

#company {
  background-image: url(../img/bg__company.png);
  background-position: center top;
  padding: 100px 0;
  margin-bottom: 85px;
}

#company .heading {
  margin-bottom: 55px;
}

.company__content {
  position: relative;
  padding-bottom: 215px;
}

ul.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 675px;
  margin: 0 auto 70px;
  text-align: center;
}

li.tablinks {
  width: 225px;
  height: 50px;
  font-size: 16px;
  font-family: "Gilroy-Regular";
  padding: 12px 0;
  cursor: pointer;
}

li.tablinks.active {
  background-image: url(../img/tab-active.png);
  background-repeat: no-repeat;
  background-size: cover;
}

li.tablinks.active span {
  color: white;
}

ul.tabs__content {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 120px;
}

ul.tabs__content picture {
  height: 60px;
  width: 100%;
  max-width: 220px;
}

ul.tabs__content picture img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

ul.tabs__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.tabs__content li {
  margin: 0 45px 50px;
}

#contacts__form {
  background-image: url(../img/bg__form.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 45px 0 60px;
  margin-bottom: 60px;
}

#contacts__form .heading {
  margin-bottom: 55px;
}

.contacts__form-content {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.contacts__form-content .btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__form-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__form-content form input[type="submit"] {
  opacity: 0;
  z-index: 2;
  width: 260px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.contacts__form-content form .pink__btn {
  margin-bottom: 30px;
  text-align: center;
  padding: 15px 22%;
}

.contacts__form-content form label {
  font-size: 14px;
  font-family: "Gilroy-Medium";
  position: relative;
  padding-left: 30px;
  font-weight: bold;
}

.contacts__form-content form #modal-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.contacts__form-content form #modal-checkbox + label {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.contacts__form-content form #modal-checkbox + label::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #f879b0;
  background-color: #f7f9fb;
  left: 0;
  bottom: 6px;
}

.contacts__form-content form #modal-checkbox + label::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  left: 5px;
  bottom: 11px;
}

.contacts__form-content form #modal-checkbox:checked + label::after {
  border: 1px solid #f879b0;
  background-color: #f879b0;
}

.privacy__politic {
  color: #00b7f4;
}

.form__control {
  display: inline-block;
  width: 100%;
  max-width: 260px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Gilroy-Medium";
  padding: 22px 20px;
  border: 1px solid #d0c7b6;
  background-color: #f4f2ee;
  color: #000711;
}

.form__control:focus {
  border: 1px solid #f879b0;
}

#contacts {
  margin-bottom: 30px;
}

.contacts__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.contacts__content-items .item {
  width: 100%;
  max-width: 300px;
  display: block;
}

.contacts__content-items .item:nth-child(1) {
  max-width: 215px;
}

.contacts__content-items .item:nth-child(1) span {
  font-size: 36px;
}

.contacts__content-items .item.social, .contacts__content-items .item.address {
  font-family: "Gilroy-Medium";
  font-style: normal;
  padding-left: 50px;
}

.contacts__content-items .item.social p, .contacts__content-items .item.address p {
  margin-bottom: 45px;
  position: relative;
}

.contacts__content-items .item.social p::before, .contacts__content-items .item.address p::before {
  position: absolute;
  left: -40px;
  bottom: 0;
}

.contacts__content-items .item.social p a {
  position: relative;
}

.contacts__content-items .item.social p a::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000711;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contacts__content-items .item.social p a:hover::after {
  opacity: 1;
  visibility: visible;
}

.contacts__content-items .item.social p:nth-child(1)::before {
  content: url(../img/icon/phone.png);
}

.contacts__content-items .item.social p:nth-child(2)::before {
  content: url(../img/icon/mail.png);
}

.contacts__content-items .item.address p:nth-child(1)::before {
  content: url(../img/icon/clock.png);
}

.contacts__content-items .item.address p:nth-child(2)::before {
  content: url(../img/icon/adress.png);
}

.modal {
  position: fixed;
  padding: 15px 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-box-shadow: 0px 0px 59px 0px rgba(35, 19, 0, 0.35);
          box-shadow: 0px 0px 59px 0px rgba(35, 19, 0, 0.35);
  width: calc(100vw - 50px);
  height: 100vh;
  background-color: #f4f2ee;
  z-index: 6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal .content {
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  padding: 30px 50px 50px;
}

.modal .content h1,
.modal .content h2 {
  font-size: 72px;
  line-height: 1;
  font-weight: normal;
  margin: 20px 0;
}

.modal .content h2 {
  font-size: 50px;
}

.modal .content h3 {
  margin: 10px 0;
  font-size: 38px;
  font-weight: normal;
}

.modal .content p {
  line-height: 1.2;
  margin-bottom: 10px;
  font-family: "Gilroy-Regular";
}

.close-button {
  position: absolute;
  height: 35px;
  width: 35px;
  z-index: 4;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close-button span {
  position: absolute;
  top: 18px;
  right: 0;
  width: 35px;
  border: 1px solid #000711;
  -webkit-transform: rotate(-46deg);
          transform: rotate(-46deg);
}

.close-button span::after {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 34px;
  border: 1px solid #000711;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  pointer-events: none;
  z-index: 5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#overlay.active {
  opacity: 0.6;
  pointer-events: all;
}

#footer {
  background-image: url(../img/bg__footer.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 50px;
}

#footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__signature p {
  font-family: "Gilroy-Regular";
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .logo {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  .burger {
    display: block;
    width: 34px;
    height: 20px;
    position: relative;
    right: 0px;
    top: 0;
    z-index: 5;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger span {
    position: absolute;
    background-color: black;
    border-radius: 10px;
    width: 27px;
    height: 3px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger::before, .burger::after {
    content: "";
    background-color: black;
    border-radius: 10px;
    position: absolute;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger::before {
    top: 0;
    width: 20px;
  }
  .burger::after {
    width: 100%;
    bottom: 0;
  }
  .burger.active {
    height: 34px;
  }
  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active::before {
    width: 100%;
    top: 14px;
    height: 5px;
    background-color: #f879b0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger.active::after {
    bottom: 15px;
    height: 5px;
    background-color: #f879b0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #header nav.menu {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #eae4d8;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }
  #header nav.menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 100px 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 100px;
  }
  #header nav.menu ul li {
    margin: 0 !important;
    width: 100%;
    text-align: center;
  }
  #header nav.menu ul li a {
    display: inline-block;
    font-size: 24px;
    padding: 10px 0;
    font-weight: bold;
  }
  #header nav.menu.active {
    visibility: visible;
    opacity: 1;
  }
  #header nav.menu.active .sub__navigation {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .container {
    padding: 0 15px;
  }
  #about {
    padding-bottom: 50px;
    background-size: cover;
  }
  .about__content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about__content-img {
    margin-right: 20px;
  }
  .price__content-items .item .item__description {
    background-size: contain;
  }
  .portfolio__content-items .item.small {
    max-width: 24%;
  }
  #footer nav.menu {
    max-width: 550px;
  }
}

@media (max-width: 768px) {
  body,
  html {
    overflow-x: hidden;
    font-size: 16px;
  }
  .container {
    padding: 0 15px;
  }
  .logo {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .burger {
    display: block;
    width: 34px;
    height: 20px;
    position: relative;
    right: 0px;
    top: 0;
    z-index: 5;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger span {
    position: absolute;
    background-color: black;
    border-radius: 10px;
    width: 27px;
    height: 3px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger::before, .burger::after {
    content: "";
    background-color: black;
    border-radius: 10px;
    position: absolute;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger::before {
    top: 0;
    width: 20px;
  }
  .burger::after {
    width: 100%;
    bottom: 0;
  }
  .burger.active {
    height: 34px;
  }
  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active::before {
    width: 100%;
    top: 14px;
    height: 5px;
    background-color: #f879b0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger.active::after {
    bottom: 15px;
    height: 5px;
    background-color: #f879b0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #header nav.menu {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #eae4d8;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }
  #header nav.menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 100px 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 100px;
  }
  #header nav.menu ul li {
    margin: 0 !important;
    width: 100%;
    text-align: center;
  }
  #header nav.menu ul li a {
    display: inline-block;
    font-size: 24px;
    padding: 10px 0;
    font-weight: bold;
  }
  #header nav.menu.active {
    visibility: visible;
    opacity: 1;
  }
  #header nav.menu.active .sub__navigation {
    opacity: 1 !important;
    visibility: visible !important;
  }
  #header {
    padding: 15px 0 20px !important;
    position: fixed;
    width: 100%;
    top: 0;
  }
  #header .contacts {
    display: block;
    text-align: center;
  }
  .heading h1 {
    font-size: 36px;
    max-width: 300px;
    margin: 0 auto 55px;
  }
  .heading h2 {
    font-size: 36px;
  }
  .heading .heading__description {
    font-size: 18px;
  }
  #first__screen {
    padding-top: 100px;
  }
  #first__screen .container .btn {
    top: 78%;
  }
  .first__screen-slider {
    padding: 0 0 300px;
    background-size: 100%;
    background-position: left 95% bottom 69%;
  }
  .first__screen-slider .slider__item {
    max-width: 100%;
    width: 300px;
  }
  #about {
    padding-bottom: 100px;
    margin-bottom: 55px;
    background-size: cover;
  }
  #about .heading {
    margin-bottom: 60px;
  }
  .about__content-img {
    display: none;
  }
  #price {
    padding-top: 0;
  }
  #price .container {
    padding: 0;
  }
  .price__content-items .item .item__description {
    background-size: contain;
  }
  .price__content-items .item {
    max-width: 100%;
  }
  .price__content-items .slick-prev,
  .price__content-items .slick-next {
    top: 100px;
  }
  .price__content-items .slick-next {
    right: 10px;
  }
  .price__content-items .slick-next::before {
    right: 5px;
  }
  .price__content-items .slick-prev {
    left: 10px;
  }
  .price__content-items .slick-prev::before {
    left: 5px;
  }
  .portfolio__content-items {
    margin-bottom: 50px;
  }
  .portfolio__content-items .item {
    margin-bottom: 30px;
  }
  .portfolio__content-items .item .item__descripton {
    bottom: 25px;
  }
  .portfolio__content-items .item .item__descripton span {
    font-size: 18px;
    max-width: 80%;
    display: inline-block;
  }
  .portfolio__content-items .item.big {
    width: 100%;
    height: 290px;
  }
  .portfolio__content-items .item.big .item__descripton {
    bottom: 45px;
  }
  .portfolio__content-items .item.small {
    width: 49%;
    height: 160px;
  }
  .portfolio__content-items .item.hide {
    display: none;
  }
  .portfolio__btn .pink__btn {
    margin-bottom: 50px;
  }
  #company {
    padding: 100px 0;
    background-size: cover;
  }
  .company__content {
    padding-bottom: 0;
  }
  .company__content .slick-prev,
  .company__content .slick-next {
    top: 15px;
  }
  li.tablinks {
    height: auto;
  }
  li.tablinks.active {
    background-size: auto;
  }
  ul.tabs__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  ul.tabs__content li {
    margin: 0 20px 30px;
  }
  .slick-current.slick-current li.tablinks {
    background-image: url(../img/tab-active.png);
    background-repeat: no-repeat;
    background-size: unset;
    background-position: center top;
  }
  .slick-current.slick-current li.tablinks span {
    color: white;
    font-size: 18px;
  }
  #contacts__form {
    background-size: cover;
  }
  .form__control {
    margin: 0 auto 20px;
  }
  .contacts__form-content .btn__container {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  .contacts__content-items .item:nth-child(1) {
    margin-bottom: 50px;
  }
  #footer {
    background-position: center top 20px;
    padding-bottom: 30px;
  }
  #footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #footer .contacts {
    display: none;
  }
  #footer nav.menu {
    margin-bottom: 40px;
  }
  #footer nav.menu ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #footer nav.menu ul li:nth-child(2), #footer nav.menu ul li:nth-child(4) {
    margin: 0 17% 18px;
  }
  .footer__signature {
    width: 100%;
  }
  .wpcf7-not-valid-tip {
    bottom: 0;
  }
  .modal {
    width: calc(100vw -10px);
  }
  .modal .content {
    padding: 30px 10px 50px;
  }
  .modal .content h1 {
    font-size: 30px;
  }
  .modal .content h2 {
    font-size: 28px;
  }
  .modal .content h3 {
    font-size: 20px;
  }
  .modal .content p {
    font-size: 16px;
  }
  .close-button {
    right: 5px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .form__control {
    max-width: 200px;
    margin: 0 20px 20px 0;
  }
  .contacts__form-content form {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .contacts__form-content .btn__container {
    margin-top: 0;
  }
  .contacts__content-items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  ul.tabs__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 70px;
    position: relative;
  }
  ul.tabs__content li {
    margin: 0 auto 30px;
  }
  ul.tabs__content picture {
    width: 100%;
    max-width: 130px;
    height: 100%;
  }
  ul.tabs__content picture img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%;
  }
  .portfolio__btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */