#header {
  background-image: url(../img/bg-header.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 30px 0 85px;
  margin-bottom: 30px;
  position: sticky;
  top: -30px;
  z-index: 4;
  @include transition;
  .container {
    @include flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  max-width: 180px;
  height: 100%;
  img {
    object-fit: cover;
  }
}
nav.menu {
  max-width: 650px;
  width: 100%;
  ul {
    @include flex;
    justify-content: space-between;
  }
  li {
    a {
      font-size: 24px;
      text-transform: uppercase;
      position: relative;
      @include transition;
      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: rgb(0, 6, 15);
        bottom: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        @include transition;
      }
      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
      &.active {
        color: rgb(248, 121, 176);
        &::after {
          visibility: visible;
          opacity: 1;
          background-color: rgb(248, 121, 176);
        }
      }
    }
  }
}
.contacts {
  text-align: right;
  a {
    font-family: "Gilroy-Regular";
    font-style: normal;
    font-size: 18px;
    color: rgb(248, 121, 176);
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: rgb(248, 121, 176);
      position: absolute;
      bottom: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      @include transition;
    }
    &:first-child {
      color: inherit;
      font-size: 24px;
      font-family: "Gilroy-Medium";
      &::after {
        background-color: rgb(0, 6, 15);
      }
    }
    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
