//

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .logo {
    transform: translate(0, 0px);
  }
  //  Burger Menu *******************************************************************************************
  .burger {
    display: block;
    width: 34px;
    height: 20px;
    position: relative;
    right: 0px;
    top: 0;
    z-index: 5;
    cursor: pointer;
    @include transition;
    span {
      position: absolute;
      background-color: black;
      border-radius: 10px;
      width: 27px;
      height: 3px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      @include transition;
    }
    &::before,
    &::after {
      content: "";
      background-color: black;
      border-radius: 10px;
      position: absolute;
      height: 3px;
      left: 0;
      @include transition;
    }
    &::before {
      top: 0;
      width: 20px;
    }
    &::after {
      width: 100%;
      bottom: 0;
    }
    &.active {
      height: 34px;
      span {
        transform: scale(0);
      }
    }
    &.active::before {
      width: 100%;
      top: 14px;
      height: 5px;
      background-color: rgb(248, 121, 176);
      transform: rotate(45deg);
    }
    &.active::after {
      bottom: 15px;
      height: 5px;
      background-color: rgb(248, 121, 176);
      transform: rotate(-45deg);
    }
  }

  #header nav.menu {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(234, 228, 216);
    @include transition;
    visibility: hidden;
    opacity: 0;
    ul {
      @include flex;
      flex-direction: column;
      margin: 100px 0 0;
      justify-content: center;
      align-items: center;
      padding: 0 0 100px;

      li {
        margin: 0 !important;
        width: 100%;
        text-align: center;
        a {
          display: inline-block;
          font-size: 24px;
          padding: 10px 0;
          font-weight: bold;
        }
      }
    }
    &.active {
      visibility: visible;
      opacity: 1;
      .sub__navigation {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
  }
  .container {
    padding: 0 15px;
  }
  #about {
    padding-bottom: 50px;
    background-size: cover;
  }
  .about__content {
    flex-wrap: nowrap;
  }
  .about__content-img {
    margin-right: 20px;
  }
  .price__content-items .item .item__description {
    background-size: contain;
  }
  .portfolio__content-items {
    .item.small {
      max-width: 24%;
    }
  }
  #footer {
    nav.menu {
      max-width: 550px;
    }
  }
}

// Mobile *******************************************************************************************

@media (max-width: 768px) {
  body,
  html {
    overflow-x: hidden;
    font-size: 16px;
  }
  .container {
    padding: 0 15px;
  }
  .logo {
    transform: translate(0);
  }
  //  Burger Menu *******************************************************************************************
  .burger {
    display: block;
    width: 34px;
    height: 20px;
    position: relative;
    right: 0px;
    top: 0;
    z-index: 5;
    cursor: pointer;
    @include transition;
    span {
      position: absolute;
      background-color: black;
      border-radius: 10px;
      width: 27px;
      height: 3px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      @include transition;
    }
    &::before,
    &::after {
      content: "";
      background-color: black;
      border-radius: 10px;
      position: absolute;
      height: 3px;
      left: 0;
      @include transition;
    }
    &::before {
      top: 0;
      width: 20px;
    }
    &::after {
      width: 100%;
      bottom: 0;
    }
    &.active {
      height: 34px;
      span {
        transform: scale(0);
      }
    }
    &.active::before {
      width: 100%;
      top: 14px;
      height: 5px;
      background-color: rgb(248, 121, 176);
      transform: rotate(45deg);
    }
    &.active::after {
      bottom: 15px;
      height: 5px;
      background-color: rgb(248, 121, 176);
      transform: rotate(-45deg);
    }
  }

  #header nav.menu {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(234, 228, 216);
    @include transition;
    visibility: hidden;
    opacity: 0;
    ul {
      @include flex;
      flex-direction: column;
      margin: 100px 0 0;
      justify-content: center;
      align-items: center;
      padding: 0 0 100px;

      li {
        margin: 0 !important;
        width: 100%;
        text-align: center;
        a {
          display: inline-block;
          font-size: 24px;
          padding: 10px 0;
          font-weight: bold;
        }
      }
    }
    &.active {
      visibility: visible;
      opacity: 1;
      .sub__navigation {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
  }
  // *********************************

  #header {
    padding: 15px 0 20px !important;
    position: fixed;
    width: 100%;
    top: 0;
    .contacts {
      display: block;
      text-align: center;
    }
  }
  .heading {
    h1 {
      font-size: 36px;
      max-width: 300px;
      margin: 0 auto 55px;
    }
    h2 {
      font-size: 36px;
    }
    .heading__description {
      font-size: 18px;
    }
  }
  #first__screen {
    padding-top: 100px;
    .container .btn {
      top: 78%;
    }
  }
  .first__screen-slider {
    padding: 0 0 300px;
    background-size: 100%;
    background-position: left 95% bottom 69%;
    .slider__item {
      max-width: 100%;
      width: 300px;
    }
  }
  #about {
    padding-bottom: 100px;
    margin-bottom: 55px;
    background-size: cover;
    .heading {
      margin-bottom: 60px;
    }
  }
  .about__content-img {
    display: none;
  }
  #price {
    padding-top: 0;
    .container {
      padding: 0;
    }
  }
  .price__content-items .item .item__description {
    background-size: contain;
  }
  .price__content-items {
    .item {
      max-width: 100%;
    }
    .slick-prev,
    .slick-next {
      top: 100px;
    }
    .slick-next {
      right: 10px;
      &::before {
        right: 5px;
      }
    }
    .slick-prev {
      left: 10px;
      &::before {
        left: 5px;
      }
    }
  }
  .portfolio__content-items {
    margin-bottom: 50px;
    .item {
      margin-bottom: 30px;
      .item__descripton {
        bottom: 25px;
        span {
          font-size: 18px;
          max-width: 80%;
          display: inline-block;
        }
      }
      &.big {
        width: 100%;
        height: 290px;
        .item__descripton {
          bottom: 45px;
        }
      }
      &.small {
        width: 49%;
        height: 160px;
      }
      &.hide {
        display: none;
      }
    }
  }
  .portfolio__btn {
    .pink__btn {
      margin-bottom: 50px;
    }
  }
  #company {
    padding: 100px 0;
    background-size: cover;
  }
  .company__content {
    padding-bottom: 0;
    .slick-prev,
    .slick-next {
      top: 15px;
    }
  }
  li.tablinks {
    height: auto;
    &.active {
      background-size: auto;
    }
  }
  ul.tabs__content {
    display: flex;
    position: relative;
    li {
      margin: 0 20px 30px;
    }
  }
  .slick-current.slick-current li.tablinks {
    background-image: url(../img/tab-active.png);
    background-repeat: no-repeat;
    background-size: unset;
    background-position: center top;
    span {
      color: white;
      font-size: 18px;
    }
  }
  #contacts__form {
    background-size: cover;
  }
  .form__control {
    margin: 0 auto 20px;
  }
  .contacts__form-content .btn__container {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  .contacts__content-items .item:nth-child(1) {
    margin-bottom: 50px;
  }
  #footer {
    background-position: center top 20px;
    padding-bottom: 30px;
    .container {
      flex-direction: column-reverse;
    }
    .contacts {
      display: none;
    }
    nav.menu {
      margin-bottom: 40px;
      ul {
        justify-content: flex-start;
        li {
          &:nth-child(2),
          &:nth-child(4) {
            margin: 0 17% 18px;
          }
        }
      }
    }
  }
  .footer__signature {
    width: 100%;
  }
  .wpcf7-not-valid-tip {
    bottom: 0;
  }
  .modal {
    width: calc(100vw -10px);
    .content {
      padding: 30px 10px 50px;
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 28px;
      }
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .close-button {
    right: 5px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .form__control {
    max-width: 200px;
    margin: 0 20px 20px 0;
  }
  .contacts__form-content {
    form {
      flex-wrap: nowrap;
    }
    .btn__container {
      margin-top: 0;
    }
  }
  .contacts__content-items {
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  ul.tabs__content {
    display: flex;
    top: 70px;
    position: relative;
    li {
      margin: 0 auto 30px;
    }
    picture {
      width: 100%;
      max-width: 130px;
      height: 100%;
      img {
        object-fit: contain;
        height: 100%;
      }
    }
  }
  .portfolio__btn {
    justify-content: center;
  }
}
