@import "_mixin";
@import "_variables";

* {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  // scroll-behavior: smooth;
}
body {
  font-size: 16px;
  font-family: "Bebas-Neue";
  color: rgb(0, 7, 17);
  background-color: rgb(244, 242, 238);
}
.container {
  max-width: $widthContent;
  margin: 0 auto;
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  border: 0;
}
picture {
  display: inline-block;
}
// sliders arrows
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 3;
  top: 25px;
  color: transparent;
  background-color: transparent;
  height: 25px;
  width: 20px;
  cursor: pointer;
  @include transition;
  &::before {
    content: url(../img/icon/slider_arrow-active.png);
    position: absolute;
    bottom: 0px;
  }
  &.slick-disabled:before {
    opacity: 1;
    content: url(../img/icon/slider_arrow.png);
  }
}
.slick-prev {
  left: 5px;
  &::before {
    transform: rotate(180deg);
  }
  &.slick-disabled:before {
    transform: rotate(0) !important;
    bottom: -3px;
  }
}
.slick-next {
  right: 5px;
  &::before {
    bottom: -1px;
  }
  &.slick-disabled:before {
    transform: rotate(180deg);
    bottom: 1px;
  }
}

.btn {
  .pink__btn,
  .blue__btn {
    display: inline-block;
    position: relative;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.4);
    width: 262px;
    height: 56px;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    color: white;
    border-radius: 50px;
    padding: 15px 0;
    z-index: 1;
    background-image: linear-gradient(
      90deg,
      rgb(255, 158, 200) 0%,
      rgb(233, 92, 153) 50%,
      rgb(255, 158, 200) 100%
    );
    &::before {
      content: "";
      background-image: url(../img/btn_pseudo-2.png),
        url(../img/btn_pseudo-1.png), url(../img/btn_pseudo-3.png);
      background-position: 36px -4px, center top 21px, center -6px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: inherit;
    }
    &:after {
      border-radius: inherit;
      background-image: linear-gradient(160deg, #44cbd4, #2881ef);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      z-index: -1;
      transition: opacity 0.3s;
      background-image: linear-gradient(
        90deg,
        rgb(233, 92, 153) 0%,
        rgb(255, 158, 200) 50%,
        rgb(233, 92, 153) 100%
      );
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
  .blue__btn {
    background-image: linear-gradient(
      90deg,
      rgb(131, 219, 255) 0%,
      rgb(0, 183, 244) 50%,
      rgb(131, 219, 255) 100%
    );
    &::after {
      background-image: linear-gradient(
        90deg,
        rgb(0, 183, 244) 0%,
        rgb(131, 219, 255) 50%,
        rgb(0, 183, 244) 100%
      );
    }
  }
}
.wpcf7-form-control-wrap {
  width: 100%;
  max-width: 260px;
  text-align: center;
  margin: 0 auto;
}
.wpcf7-not-valid-tip {
  position: absolute;
  left: 16%;
  bottom: -20px;
}
.wpcf7 form .wpcf7-response-output{
  margin: 0em 0.5em 1em;
}
